
.btn-active {
    background-color: #d8d6d6;
    border-radius: 4px;
    padding: 0px 10px;

}

.btn-active button {
    border: none;
}

.card-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -40px;
    bottom: 120px;
    position: relative;
}

.mainCard {
    word-wrap: break-word;
    background-color: #161414;
    color: #beb8b8;
    margin: 15px 10px;
    padding-bottom: 30px;
    text-align: center;
    height: 420px;

}

h5 {
    color: #0071ad !important;
    padding-top: 40px !important;
}

.mainCard img,
.about-content img,
.footer-content img {
    width: 65px;
    height: 50px;
    margin-top: 15px;
}

.card-main-text {
    line-height: 1.5rem;
}

.about-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    width: 90%;
}

.about-content {

    width: 45%;

}

.about-img img {

    height: 340px;
}

.footer {
    background-color: #161414;
    color: #beb8b8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 80px;
}

.footer-content {
    margin: 40px;
    width: 25%;
}

.footer-content-heading {
    margin-left: 7px;
}





@media screen and (max-width: 400px) {
    .card-container {
        bottom: 0;
    }
}